*
{
    margin:0;
    padding: 0;
}
body
{
    margin: 0;
    font-family: Trebuchet MS;
    font-weight: normal;
    line-height: 20px;
    color: rgb(200,200,200);
    background-color: gray;
    width: #4A6BAE
    height: 100%;

}
.button
{
    width: 42%;
    height: 35%;
    font-weight: 600;
    text-align: center;
    font-family: Trebuchet MS;
    background-image: linear-gradient( #13637E , rgb(30,30,50));
    color: white;
    font-size: 13px;
    border-radius: 4px;
    border-style: solid;
    border-color: #13637E;
}
ul 
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#outerBackground {

	height: 100%;
    padding-bottom: 0px;
    background: #4A6BAE url(bg.jpg) no-repeat center top;
    min-height: 800px;
}
#wrapper 
{
    width: 957px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
#UniversalNavigation 
{
    background: rgba(0,0,0,0.4);
    float: right;
    font-weight: normal;
    height: 24px;
    margin-bottom: 30px;
    text-align: center;
    width: 354px;
}
#UniversalNavigation span 
{
    color: #B2DDFC;
    width: 440px;
}
#UniversalNavigation a 
{
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}
#UniversalNavigation a.LastLink 
{
    padding-right: 0 !important;
}
.clear 
{
    clear: both;
}
#Logo 
{
    float: left;
    height: 158px;
    left: 15px;
    position: absolute;
    top: 10px;
    width: 224px;
}
#Logo img
{
    border: none;
}
#Header 
{
    background: rgba(0,0,0,0.8);
    color: #fff;
    height: 58px;
    padding: 5px;
}
#Banner {
    min-height: 45px;
}
#TopNavigation {
    height: 56px;
    width: 946px;
    border: 1px solid #414D5F;
}
#TopMenuItems {
    float: right;
    margin-top: 0px;
}
#TopMenuItems .RadMenu ul.rmHorizontal li a .rmText {
    color: #9DCCE9;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    padding: 3px 15px;
    text-transform: uppercase;
}
#TopMenuItems .RadMenu ul.rmHorizontal li a:hover,.selected
{
    background-color: #4A6BAE;
    border-radius: 4px;
}
#TopMenuItems .RadMenu, #TopMenuItems .RadMenu_Default {
    padding: 0;
    margin: 0;
    border: none;
}
#TopMenuItems .RadMenu ul.rmHorizontal li.rmItem {
    float: left;
    list-style-type: none;
}
#TopMenuItems .RadMenu ul.rmHorizontal li a {
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    padding: 5px 0 11px;
    text-decoration: none;
}
#Main 
{
    background: rgba(0,0,0,0.8);
    height: 517px !important;
    color: rgb(200,200,200);
}
#TopContent {
    line-height: 20px;
    border: 1px solid;
    border-image: linear-gradient(rgb(20,20,20),rgb(120,120,120));
    border-image-slice: 1;
    margin: 0px 2px;
}
#BottomContent {
    padding: 15px 25px 0;
}
#LeftSideBar {
    font-size: 11px;
    clear: both;
    width: 291px;
    margin-left: 14;
    padding: 20px 0px 20px 20px;
    float: left;
}
#LeftSideBar img {
    margin-bottom: 7px;
    margin-top: 14px;
}
ul.pageListVertical {
    border-top: solid 1px #5F647A;
    border-bottom: solid 1px #5F647A;
    padding: 15px 0px ;
    font-size: 15px;
    list-style: none;
    width: 277px;
}
#TopContent ul li 
{
    padding-left: 0;
    list-style-position: inside;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.subNavigation {
    margin-top: 15px !important;
}
#RightSideBar {
    float: right;
    padding: 20px 33px 20px 0px;
    width: 575px;
    font-size: 15px;
    font-weight: bold;
}
#TopContent .mainheader {
    color: #C4E2FF;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 15px 10px 0;
    text-align: left;
    text-transform: uppercase;
}
#TopContent a 
{
    color: #C1D4EB;
}
#RightSideBar ul{
    margin-left: 0px;
    padding: 10px 0 0 35px;
}
#TopContent ul li {
    padding-left: 0;
}
.requestSomeoneBtnContainer {
    background: rgba(16,34,28,0.2);
    border-bottom: 1px solid #606678;
    border-top: 1px solid #606678;
    float: right;
    height: 69px !important;
    margin: 20px 0 0;
    padding: 20px 0 0 25px;
    width: 555px;
}
.footer
{
    height: auto !important;
    background: rgba(0,0,0,0.4);
    margin-top: 8px;
    color: white;
    line-height: 29px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
#footerLinks a
{
    color: white;
}
.ftzHead
{
    margin-bottom: 10;
}
#RightSideBar p
{
    width: 550px;
}